/*Colores*/
$bkg-menu:#123456;
$txt-shad:black;
$txt-menu:white;
$txt-secu:#efefef;
$bkg-icon:#fff ;
$recua-icon:#0d2033;
$resal-icon: aqua;

/* Tipo de letras */
$fon-body: sans-serif;
$fon-vari: sans-serif;
