.video{
    position: relative;
    padding-bottom: 100%; 
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
    }
    
    .video iframe,
    .video object,
    .video embed {
    position: absolute;
    top: 170px;
    left: 200px;
    width: 50%;
    height: 50%;
    }
    .video1{
        width: 50%;
        grid-template-columns: repeat(2, 1fr) ;
        grid-gap: 5px;  /* Centra */
        padding: 1px 0px;}
        
        .video h2{
          color:$txtfb-h2;
          font-variant: $fon-vari;
          text-shadow: 1px 1px $txt-shad;
          font-size: 18px;
      }
      .video h3{
        color:$txt-h3y4;
        font-variant: $fon-vari;
        font-size: 12px;
      }
      .video h4{
        color:$txt-h3y4;
        font-variant: $fon-vari;
        font-size: 12px;
      }
      